@page
@model             IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sprzet[0].SN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprzet[0].producent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprzet[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprzet[0].osobaPrzypisana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprzet[0].lokalizacja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprzet[0].status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprzet[0].typ)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sprzet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.osobaPrzypisana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lokalizacja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typ)
            </td>
          
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
